@use '../../styles/variables' as v;
@use '../../styles/mixins' as mix;

.catalogPage {
  padding: 0 30px 40px;
  margin: 0 auto;
  max-width: 1200px;

  @include mix.respond-to(mobile) {
    padding: 0 16px 40px;
  }

  &__topgroup {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mix.respond-to(tablet) {
      flex-direction: column;
      align-items: start;
      margin-bottom: 10px;
    }
  }

  &__title {
    text-transform: capitalize;
  }

  &__searchLabel {
    @include mix.bodyText;
    margin: 0 15px 0 5px;
    color: v.$colorSecondary;
  }

  &__search {
    background-color: v.$colorElements;
    padding: 2px;
    height: 28px;
    border-radius: 5px;
    flex-grow: 1;
    max-width: 191px;

    @include mix.bodyText;
  }

  &__searchGroup {
    display: flex;
    align-items: center;

    @include mix.respond-to(tablet) {
      width: 100%;
    }
  }

  &__modelCount {
    margin-top: 8px;

    @include mix.bodyText;

    color: v.$colorSecondary;
  }
}
