@use '../../styles/variables' as v;
@use '../../styles/mixins' as mix;

.wentWrong {
  display: flex;
  padding: 50px;
  gap: 50px;
  align-items: center;

  @include mix.respond-to(mobile) {
    flex-direction: column;
  }

  &__linkText {
    cursor: pointer;
    color: v.$colorSecondary;

    &:hover {
      color: v.$colorText;
    }
  }

  &__img {
    display: block;

    @include mix.square(400px);

    object-fit: contain;

    @include mix.respond-to(tablet) {
      @include mix.square(250px);
    }

    @include mix.respond-to(mobile) {
      @include mix.square(180px);
    }
  }
}
