@use '../../styles/mixins' as mix;
@use '../../styles/variables' as v;

.customSelector {
  height: 59px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 200px;

  @include mix.respond-to(mobile) {
    width: 136px;
  }

  &__title {
    @include mix.smallText;

    color: v.$colorSecondary;
    width: 136px;
  }
}
