@use '../../styles/mixins' as mix;
@use '../../styles/variables' as v;

.customSelector {
  height: 59px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 200px;
  flex-grow: 1;

  &__title {
    @include mix.smallText;

    color: v.$colorSecondary;
    width: 136px;
  }
}
