@use '../../styles/variables' as v;
@use '../../styles/mixins' as mix;

.figurePage {
  background-color: v.$colorBG;
  display: flex;
  justify-content: center;
  padding: 20px;

  &__card {
    background-color: v.$colorCardBG;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    color: v.$colorText;

    @include mix.respond-to(mobile) {
      width: 95%;
    }
  }

  &__info {
    display: flex;
    gap: 30px;

    @include mix.respond-to(tablet) {
      flex-direction: column;
    }
  }

  &__name {
    margin: 15px 0;
  }

  &__backButton {
    @include mix.bodyText;
    cursor: pointer;
  }

  &__image {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    margin: 0 auto 15px;
  }

  &__description {
    @include mix.bodyText;
    color: v.$colorText;
    margin-bottom: 15px;
  }

  &__price {
    font-size: 24px;
    font-weight: bold;
    color: v.$colorText;
    margin: 10px 0;
  }

  &__category {
    font-size: 14px;
    color: v.$colorTrack;
  }
}
